html {
  background-color: #212121;
  color: white;
}
body {
  text-align: center;
}
h1 {
  font-family: "Vinque", "Caladea", serif;
}
a {
  color: white;
}
footer {
  font-family: "Vinque", "Caladea", serif;
  font-size: 1.25rem;
}
.content-section {
  display: inline-block;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-image-section {
  height: 9rem;
  align-self: center;
}

.header-text-section {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 15px;
}
.header-menu-segment {
  display: flexbox;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  align-self: center;
}

.bar1,
.bar2,
.bar3 {
  position: relative;
  align-self: center;
  margin-top: 0.75rem;
  height: 0.5rem;
  width: 6.5rem;
  background-color: #ffbe62;
  border-radius: 2rem;
}
.menu-items {
  display: none;
}

.menu-items.revealMenu {
  display: flex;
}
.menu-links {
  width: 6.5rem;
  margin-top: 0.5rem;
  position: absolute;
  align-self: left;
  align-items: left;
  display: flex;
  flex-direction: column;
  background-color: #ffbe62;
}

.menu-links a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #212121;
}

.menu-links a:hover {
  background-color: #fff;
}

.contact-links-image-section {
  width: 3rem;
}

#github-logo {
  width: 4.5rem;
}

.contact-links-image-section:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .menu-links {
    width: 4rem;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 4rem;
    margin-top: 0.5rem;
  }
}
